body {
    padding:0px;
    margin:0px;
    width:100%;
    height:100vh;
    overflow:hidden;
}

/*------------------container section----------------------*/
#container {
    width: 100%;
    height: 100vh;
    background-color: #c1ebdf;
    position:relative;
    
}


/*-----------------form ------------------*/

.form {
    width: 340px;
    height: 432px;
    background-color: #fff;
    position: absolute;
    margin-top: 5%;
    margin-left: 20%;
    text-align: center;
    border-radius: 10px;
}
h2{
    font-size:60px;
    font-weight:400;
    color:#fdd4da;   
}

.input_container {
    width: 80%;
    height: 40px;
    border-style: solid;
    border-color: #9c9a9c;
    border-width: 1px;
    margin-bottom: 4%;
    margin-left: 10%;
    border-radius: 10px;
    position: relative;
    color: #a5a8a4;
}
/*--------------------Icons in the input field-------------------*/
    .input_container img {
        position:relative;
        height: 20px;
        width: 20px;
        top:10%;
    }

input{
    height:87%;
    width:88%;
    border:hidden;
}

/*------------------submit button-------------------------*/
.submit {
    width: 118px;
    height: 40px;
    background-color: #fdd4da;
    margin-top: 5%;
    border-radius: 10px;
}

/*----------------signup prompt------------------------*/
p {
    color: #a5a8a4;
}

span {
    color: #000;
}

/*---------------------------Animation------------------------*/
.image {
    position: relative;
    bottom: 18%;
    height: 800px;
    width: 800px;
    float: right;
    margin-left: 11%;
    transform: rotate(30deg);
}

